& {
  --z: #1d1d1f;
  --bg-color: #1d1d1f;
  --bg-color-lighten-20: #4e4e54;
  --bg-color-lighten-40: #808088;
  --bg-color-transparent-97: rgba(29, 29, 31, 0.03);
  --bg-color-transparent-70: rgba(29, 29, 31, 0.3);
  --hr-light-color: #c0c0c0;
  --hr-light-color-transparent: #c0c0c000;
  --bg-light-color-darken-05: #eeeeee;
  --text-dark-color: #1d1d1f;
  --text-dark-a11y-color: #72727e;
  --text-dark-a11y-color-50: rgba(114, 114, 126, 0.5);
  --text-light-color: #fbfbfd;
  --text-light-a11y-color: #9f9fa8;
  --hr-light-color: #c0c0c0;
  --hr-very-light-color: #dadada;
  --hr-light-color-transparent: #c0c0c000;
  --link-color: #06c;
  --font-family-sans-serif: "Inter Web", sans-serif;
  --font-family-serif: serif;
}
